.container {
  max-width: 1024px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.my-1 {
  margin: 30px 0; }

.btn {
  height: 3rem;
  width: 100%;
  text-align: center;
  background: #a0138e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif; }

ul {
  list-style: none; }

img {
  width: 100%; }

a:active {
  text-decoration: none;
  color: inherit; }

#header {
  height: 110px;
  width: 100%;
  border-bottom: 3px #a0138e solid;
  overflow: hidden; }
  #header #main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #header #main-nav .nav-name {
      font-size: 2.6rem;
      width: 100%;
      text-align: center; }
    #header #main-nav ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center; }
      #header #main-nav ul li {
        margin: 0.5rem 0.3rem 0 0;
        padding: 0.3rem 0.7rem 0;
        font-size: 0.8rem;
        border-top: 1px #a0138e solid;
        text-transform: uppercase; }
      #header #main-nav ul li:hover {
        border-top: 3px #a0138e solid; }
      #header #main-nav ul .current {
        border-top: 3px #a0138e solid; }
    #header #main-nav a {
      text-decoration: none; }

#home {
  background: url("../images/muhammetgok_home.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px); }
  #home .quote {
    position: absolute;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 470px;
    top: 31%;
    font-size: 2rem; }

#galleries {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #galleries .container {
    display: flex;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center; }
    #galleries .container .galleries-mylife {
      width: 512px;
      background: white;
      line-height: 480px;
      height: 500px; }
    #galleries .container .galleries-media {
      height: 500px;
      line-height: 480px;
      width: 512px;
      background: black;
      color: white; }
    #galleries .container a {
      text-decoration: none;
      color: #fff; }

#about {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #about .about {
    display: flex;
    height: 600px;
    background: rgba(255, 255, 255, 0.85);
    padding-right: 30px;
    margin-bottom: 30px; }
    #about .about .about-image {
      background: url("../images/about.jpg") no-repeat center right/cover;
      border: 8px solid #efefef;
      margin: 30px;
      flex: 1 1 0;
      width: 0; }
    #about .about .about-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 0;
      width: 0; }
      #about .about .about-text .about-title {
        display: block;
        font-size: 2rem;
        border-bottom: 2px solid black; }
      #about .about .about-text .about-content {
        font-weight: 400; }
      #about .about .about-text .mg-text {
        margin-right: 30px;
        font-size: 5rem;
        text-align: right; }

#contact {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #contact .contact {
    height: 500px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    margin-bottom: 30px; }
    #contact .contact .contact-title {
      display: block;
      font-size: 2rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px; }
    #contact .contact .contact-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1rem; }
      #contact .contact .contact-content .contact-info {
        line-height: 3rem;
        font-size: 1.5rem; }
        #contact .contact .contact-content .contact-info .icons {
          margin-top: 15px;
          margin-right: 10px; }
      #contact .contact .contact-content .contact-form .text-fields {
        display: grid;
        grid-gap: 0.5rem;
        margin-bottom: 1.2rem; }
        #contact .contact .contact-content .contact-form .text-fields .text-input {
          height: 2.5rem;
          border: 1px solid;
          border-radius: 5px; }
        #contact .contact .contact-content .contact-form .text-fields .message-input {
          height: 6rem;
          border: 1px solid;
          border-radius: 5px; }
      #contact .contact .contact-content .contact-form .btn {
        height: 3rem;
        width: 100%;
        text-align: center;
        background: #a0138e;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1.5rem; }

#blog {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #blog .blog {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    margin-bottom: 30px; }
    #blog .blog .blog-title {
      display: block;
      font-size: 2rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px; }
    #blog .blog .blog-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem; }

#showreel {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #showreel .showreel {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    margin-bottom: 30px; }
    #showreel .showreel .showreel-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem; }
    #showreel .showreel .showreel-title {
      display: block;
      font-size: 2rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px; }

#gallery {
  background: url("../images/gallery-background.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 500px; }

#login {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #login .login {
    height: 500px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 300px;
    margin-bottom: 30px; }
    #login .login .login-title {
      display: block;
      font-size: 2rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px; }
    #login .login .text-fields {
      display: grid;
      grid-gap: 0.5rem;
      margin-bottom: 1.2rem; }
      #login .login .text-fields .text-input {
        height: 2.5rem;
        border: 1px solid;
        border-radius: 5px; }

#admin {
  background: url("../images/background-image.jpg") no-repeat center right/cover;
  min-height: calc(100vh - 113px);
  background-attachment: fixed; }
  #admin .admin {
    height: 700px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 300px;
    margin-bottom: 30px; }
    #admin .admin .admin-title {
      display: block;
      font-size: 2rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px; }
    #admin .admin .btn-error {
      background: #d1244f; }
