@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#header {
  height: 110px;
  width: 100%;
  border-bottom: 3px $border-color solid;
  overflow: hidden;
  #main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-name {
      //   margin-left: 1rem;
      font-size: 2.6rem;
      width: 100%;
      text-align: center;
      //   border: 3px #a0138e solid;
    }
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;

      li {
        margin: 0.5rem 0.3rem 0 0;
        padding: 0.3rem 0.7rem 0;
        font-size: 0.8rem;
        border-top: 1px $border-color solid;
        // border-top: 3px solid transparent;
      }
      li:hover {
        border-top: 3px $border-color solid;
      }
      .current {
        border-top: 3px $border-color solid;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

#home {
  background: $showcase-image no-repeat center right/cover;
  height: calc(100vh - 113px);

  .quote {
    position: absolute;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 470px;
    top: 31%;
    font-size: 2rem;
  }
}
