@import 'config';
@import 'utilities';

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#header {
  height: 110px;
  width: 100%;
  border-bottom: 3px $border-color solid;
  overflow: hidden;
  #main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-name {
      //   margin-left: 1rem;
      font-size: 2.6rem;
      width: 100%;
      text-align: center;
      //   border: 3px #a0138e solid;
    }
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;

      li {
        margin: 0.5rem 0.3rem 0 0;
        padding: 0.3rem 0.7rem 0;
        font-size: 0.8rem;
        border-top: 1px $border-color solid;
        text-transform: uppercase;
        // border-top: 3px solid transparent;
      }
      li:hover {
        border-top: 3px $border-color solid;
      }
      .current {
        border-top: 3px $border-color solid;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

#home {
  background: $showcase-image no-repeat center right/cover;
  height: calc(100vh - 113px);

  .quote {
    position: absolute;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 470px;
    top: 31%;
    font-size: 2rem;
  }
}

#galleries {
  background: $background-image no-repeat center right/cover;
  height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 500px;
  .container {
    display: flex;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    .galleries-mylife {
      width: $website-width/2;
      background: white;
      line-height: 480px;
      height: 500px;
    }
    .galleries-media {
      height: 500px;
      line-height: 480px;
      width: $website-width/2;
      background: black;
      color: white;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

#about {
  background: $background-image no-repeat center right/cover;
  height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 630px;
  .about {
    display: flex;
    height: 600px;
    background: rgba(255, 255, 255, 0.85);
    padding-right: 30px;
    margin-bottom: 30px;
    .about-image {
      background: $about-image no-repeat center right/cover;
      border: 8px solid #efefef;
      margin: 30px;
      flex: 1 1 0;
      width: 0;
    }
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 0;
      width: 0;
      .about-title {
        display: block;
        font-size: 2rem;
        border-bottom: 2px solid black;
      }
      .about-content {
        font-weight: 400;
      }
      .mg-text {
        margin-right: 30px;
        font-size: 5rem;
        text-align: right;
      }
    }
  }
}

#contact {
  background: $background-image no-repeat center right/cover;
  height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 560px;
  .contact {
    height: 500px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    margin-bottom: 30px;
    .contact-title {
      display: block;
      font-size: 2rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px;
    }
    .contact-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1rem;

      .contact-info {
        line-height: 3rem;
        font-size: 1.5rem;

        .icons {
          margin-top: 15px;
          margin-right: 10px;
        }
      }
      .contact-form {
        .text-fields {
          display: grid;
          grid-gap: 0.5rem;
          margin-bottom: 1.2rem;

          .text-input {
            height: 2.5rem;
            border: 1px solid;
            border-radius: 5px;
          }
          .message-input {
            height: 6rem;
            border: 1px solid;
            border-radius: 5px;
          }
        }
        .btn {
          height: 3rem;
          width: 100%;
          text-align: center;
          background: $border-color;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
}

#blog {
  background: $background-image no-repeat center right/cover;
  height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 500px;
}

#showreel {
  background: $background-image no-repeat center right/cover;
  height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 500px;
}

#gallery {
  background: $gallery-background no-repeat center right/cover;
  height: calc(100vh - 113px);
  background-attachment: fixed;
  min-height: 500px;
}
